node_modules/
target/
dist/
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

local.env

/frontend/node/

.DS_Store

### Playwright ###
frontend/playwright-report/
frontend/playwright/.cache/
frontend/test-results/