<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Sporbarhetslogg  Sett til info for å skru på igjen-->
    <logger name="audit" level="off" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="no.nav" level="DEBUG"/>
    <!--    <logger name="org.springframework.security" level="debug"/>-->
    <logger name="org.flywaydb" level="info"/>
</configuration>