services:
  mock-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9080:9080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:19092
    env_file:
      - path: ../../local.env
        required: false

    depends_on:
      - kafka
