.htmleditor {
    font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;

    /*
    ** Styling under her følger aksel sine anbefalinger
    ** https://aksel.nav.no/monster-maler/brev/visuelle-retningslinjer-for-brev
    */

    h1 {
        font-size: 16pt;
    }

    h2 {
        font-size: 13pt;
    }

    h3 {
        font-size: 12pt;
    }

    h4 {
        font-size: 11pt;
    }

    .navLogo {
        height: 1.25rem;
        margin-bottom: 2.5rem;
    }

    #pagenumber:before {
        content: counter(page);
    }

    #pagecount:before {
        content: counter(pages);
    }

    .personalia {
        margin-right: 10%;
        float: left;
    }

    .personalia p {
        margin: 0;
    }

    .dato {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
    }

    .hilsen {
        margin-top: 32px;
    }

    .hilsen p {
        margin: 0;
    }

    .signatur {
        margin-top: 26px;
    }

    .beslutter {
        float: left;
        margin-right: 50%;
    }

    .venstrestill {
        float: left;
    }

    .right-align {
        text-align: right;
    }

    a {
        text-decoration: none;
    }
}
