.htmleditor {
    font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
    font-size: 12pt;
    margin-left: 0;
    margin-right: 0;

    /*
    ** Styling under her følger (omtrent) aksel sine anbefalinger
    ** https://aksel.nav.no/monster-maler/brev/visuelle-retningslinjer-for-brev
    */

    h1 {
        font-size: 18pt;
        letter-spacing: 0.3;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 14pt;
        letter-spacing: 0.25;
    }

    h3 {
        font-size: 13pt;
        letter-spacing: 0.2;
    }

    h4 {
        font-size: 12pt;
        letter-spacing: 0.1;
    }

    h2, h3, h4 {
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;
    }

    li {
        margin-top: -0.5rem;
    }

    mark {
        background-color: var(--ax-bg-warning-moderate-hoverA);
        color: var(--ax-bg-warning-strong);
        padding: 0 .25rem;
        border-radius: var(--ax-radius-4);
    }

    .navLogo {
        height: 1.25rem;
        margin-bottom: 2.5rem;
    }

    #pagenumber:before {
        content: counter(page);
    }

    #pagecount:before {
        content: counter(pages);
    }

    .personalia {
        margin-right: 10%;
        float: left;
    }

    .personalia p {
        margin: 0;
    }

    .dato {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
    }

    .hilsen {
        margin-top: 32px;
    }

    .hilsen p {
        margin: 0;
    }

    .signatur {
        margin-top: 26px;
    }

    .beslutter {
        float: left;
        margin-right: 50%;
    }

    .venstrestill {
        float: left;
    }

    .right-align {
        text-align: right;
    }

    a {
        text-decoration: none;
    }
}
