.redigeringsMeny {
    padding: 2px;

    button{
        vertical-align: top;
        height: 32px;
        margin-left: 2px;
    }

    button:global(.is-active) {
        background-color: darkgrey;
    }
}
