.editor {
    /* Fjerner blå fokus-ring rundt editoren  */
    *:focus {
        outline: none;
    }
    min-height: 6lh;
}

.errorBorder {
    border: 2px solid var(--ax-border-danger);
    border-radius: var(--ax-radius-8);
}
