.draHåndtak {
  position: absolute;
  left: -1.5rem;
  top: 0;
  bottom: 0;
  width: 1rem;
  cursor: col-resize;
  touch-action: none;
  appearance: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  padding: 0;
  background: none;
  /* border-radius: 0.25rem; */
  /* border: 1px solid black; */
  & span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 10.5rem;
  }
}

.linjer {
  border-left: 1px solid var(--ax-border-neutral-subtle);
  width: 1px;
  flex: 1;
}
