<section>
    <h2>Du må melde fra om endringer</h2>
    <p>
        Hvis det skjer endringer i inntekten eller livssituasjonen din, må du melde fra til Nav for at du skal få utbetalt riktig beløp. Dette følger av folketrygdloven § 21-3.
    </p>
    <p>
        Du må melde fra til Nav hvis du
    </p>
    <ul>
        <li>
            begynner å jobbe mer eller tjener mer
        </li>
        <li>
            avbryter tiltak eller behandling
        </li>
        <li>
            skal ha ferie eller permisjon
        </li>
        <li>
            sitter i varetekt, soner straff eller er under forvaring
        </li>
        <li>
            blir innlagt på sykehus eller institusjon
        </li>
        <li>
            skal reise eller flytte til utlandet
        </li>
        <li>
            mottar pensjon fra annen pensjonsordning
        </li>
        <li>
            mottar barnetillegg og du får ansvar for flere eller færre barn
        </li>
        <li>
            mottar barnetillegg og barnet får inntekt
        </li>
        <li>
            har andre opplysninger som kan bety noe for retten til ortopediske hjelpemidler
        </li>
    </ul>

    <p>
        Hvis du flytter og endrer adresse så endrer du dette på skatteetaten.no/folkeregisteret.
    </p>
    <p>
        Ta kontakt med oss hvis det har skjedd endringer som du er usikker på om du må melde fra om. Du kan kontakte oss på nav.no/kontakt eller på telefon 55 55 33 33.
    </p>
    <p>
        Hvis du har fått utbetalt for mye fordi du ikke har meldt fra om at inntekten eller livssituasjonen din har endret seg,
        må du vanligvis betale tilbake pengene. Det er derfor viktig at du selv følger med på utbetalinger fra Nav og melder fra om eventuelle feil.
    </p>

</section>