<section>
  <h2>Du har rett til innsyn i saka di</h2>
  <p>
    Du har rett til å sjå dokumenta i saka di. Dette følger av forvaltningslova § 18.
    Kontakt oss dersom du vil sjå dokumenta i saka di. Ta kontakt på nav.no/kontakt eller telefon 55 55 33 33.
    Du kan lese meir om innsynsretten på nav.no/personvernerklaering.
  </p>
</section>

