<section>
  <h2>Du kan klage på vedtaket</h2>
  <p>
    Dersom du meiner vedtaket er feil, kan du klage innan seks veker frå vedtaket kom fram til deg.
    Dette følger av folketrygdlova § 21-12. Skjema og informasjon finn du på nav.no/klage.
  </p>

  <p>Nav kan rettleie deg på telefon om korleis du sender ei klage. Nav-kontoret ditt kan òg hjelpe deg med å skrive
    klaga.
    Ta kontakt på telefon 55 55 33 33 viss du treng hjelp.
  </p>

  <p>
    Dersom du får medhald i klaga, kan du få dekt vesentlege utgifter som har vore nødvendige for å få endra vedtaket,
    til dømes hjelp frå advokat.
    Du kan ha krav på fri rettshjelp etter rettshjelplova. Du får meir informasjon om ordninga hos advokatar,
    statsforvaltaren eller Nav.
  </p>

  <p>Du kan lese om saksomkostningar i forvaltningslova § 36.</p>
  <p>Dersom du sender klage i posten, må du signere klaga.</p>
  <p>Meir informasjon om klagerettar finn du på nav.no/klagerettigheter.</p>
</section>

