<section>
    <h2>Du har rettigheter knyttet til personopplysningene dine</h2>
    <p>
        Du finner informasjon om hvordan Nav behandler personopplysningene dine, og hvilke rettigheter du har, på
        nav.no/personvernerklaering#hvordan.
    </p>
    <p>
        Nav kan veilede deg på telefon 55 55 33 33 om hvordan Nav behandler personopplysninger.
    </p>
</section>