<section>
  <h2>Du har rettar knytte til personopplysningane dine</h2>
  <p>
    Du finn informasjon om korleis Nav behandlar personopplysningane dine, og kva rettar du har, på
    nav.no/personvernerklaering#hvordan.
  </p>
  <p>
    Nav kan rettleie deg på telefon 55 55 33 33 om korleis Nav behandlar personopplysningar.
  </p>
</section>

