<section>
  <h2>Har du spørsmål?</h2>
  <p>
    Du finn meir informasjon om ortopediske hjelpemiddel på nav.no/protese-ortose-ortopediskesko-parykk.
    På nav.no/kontakt kan du chatte eller skrive til oss.
    Dersom du ikkje finn svar på nav.no kan du ringe oss på telefon 55 55 33 33, kvardagar 09.00–15.00.
  </p>
</section>

