<section>
    <h2>Du har rett til å få veiledning fra Nav</h2>
    <p>
        Vi har plikt til å veilede deg om dine rettigheter og plikter i saken din, både før, under og etter saksbehandlingen.
        Dette følger av forvaltningsloven § 11. Ta kontakt på telefon 55 55 33 33 eller på nav.no/kontakt hvis du har spørsmål.
    </p>
</section>