.step__link {
    position: relative;
    color: inherit;
    text-decoration: none;
}

.step {
    width: 11.5rem;
    padding: var(--ax-space-4) var(--ax-space-12) var(--ax-space-8);

    &:after {
        background: var(--status-color);
        border-radius: var(--ax-radius-4);
        bottom: 0;
        content: '';
        display: block;
        height: 6px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &:hover:after {
        background: var(--status-color-hover);
    }

    &.active:after {
        background: var(--status-color-active);
    }

    &.default {
        --status-color: var(--ax-neutral-400);
        --status-color-hover: var(--ax-neutral-500);
        --status-color-active: var(--ax-neutral-600);
}

    &.success {
        --status-color: var(--ax-success-400);
        --status-color-hover: var(--ax-success-500);
        --status-color-active: var(--ax-success-600);
        --icon-color: var(--ax-text-success-decoration);
    }

    &.warning {
        --status-color: var(--ax-warning-300);
        --status-color-hover: var(--ax-warning-400);
        --status-color-active: var(--ax-warning-500);
        --icon-color: var(--ax-text-warning-decoration);
    }

    &.danger {
        --status-color: var(--ax-danger-400);
        --status-color-hover: var(--ax-danger-500);
        --status-color-active: var(--ax-danger-600);
        --icon-color: var(--ax-text-danger-decoration);
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:after {
            background: var(--status-color);
        }
    }
}

.icon {
    color: var(--icon-color);
    height: 24px;
    width: 24px;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.partial:not(.warning) {
    > .icon {
        background: linear-gradient(
                -45deg,
                var(--icon-color),
                var(--icon-color) 50%,
                var(--icon-color) 50%,
                var(--icon-color) 50%,
                white 50%
        );
        border: 1px solid var(--icon-color);
        border-radius: 50%;
        height: 16px;
        min-width: 16px;
    }

    --partial-color: var(--status-color);

    &:after {
        background: repeating-linear-gradient(
                -45deg,
                var(--partial-color),
                var(--partial-color) 10px,
                white 10px,
                white 20px
        );
        border: 1px solid var(--partial-color);
    }

    &:hover:after {
        --partial-color: var(--status-color-hover);
    }

    &.active:after {
        --partial-color: var(--status-color-active);
    }
}
