name: Bygg og test PR

on:
  pull_request

jobs:
  build:
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
  e2e:
    uses: ./.github/workflows/e2e.yaml
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
